*{
  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-gap: 20px;
color: rgb(13, 15, 15);
margin: 50px;
  }

    
    .card-item{
    background: linear-gradient(349deg, #d4c9c9, transparent);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
 padding-bottom: 30px;

  }  

.cabecera{
    background: rgb(26, 29, 92);
    height:  125px;
    margin-bottom: 75px;
 
}
img{
 height: 100%;
width: 150px; 
object-fit: contain;
padding: 10px;


}
.cont-img{
    height: 150px;
width: 150px; 
border-radius: 1000px;
/* object-fit: auto; */
position: absolute;
right: calc(50% - 75px);
top: calc(50% - 125px);
background-color: rgb(255, 255, 255);
display: flex;
overflow: hidden;

}
p, label{
    padding: 3px 20px;
    font-weight: 600;

}
.titulo{
font-weight: 400;
max-width: 300px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.categoria{
    background-color: rgba(180, 176, 176, 0.411);
    border-radius: 20px;
    color: rgb(69, 199, 127);
    font-weight: 400;
    margin-left: 15px;
}
.precio-sd{
    font-size: 12px;
    color: rgb(78, 76, 76);
    text-decoration: line-through;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.menu {
    position: relative;
    display: inline-block;
    z-index: 1; /* Asegura que el menú esté sobre otros elementos */
}

.menu-toggle button {
    background-color: rgb(26, 29, 92);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.submenu {
    position: absolute;
    top: calc(100% + 5px); /* Ajusta la posición del menú desplegable */
    left: 0;
    background-color: #fff;
    padding: 10px 0;
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none;
    z-index: 2; /* Asegura que el menú esté sobre otros elementos */
}

.submenu li {
    padding: 10px;
}

.submenu li a {
    color: rgb(26, 29, 92);
    text-decoration: none;
    transition: color 0.3s ease;
}

.submenu li a:hover {
    color: rgb(69, 199, 127);
}

.menu:hover .submenu {
    display: block;
}
.submenu li img {
    width: 50px;
  height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  